In [1]:
# Q1
# pandas series
import pandas as pd
ds = pd.Series([4,8,15,16,23,42])
print(ds)

0     4
1     8
2    15
3    16
4    23
5    42
dtype: int64

In [2]:
# Q2
# variable with 10 elements in it
a = ["ak",5,"kr",5.3,9,True,"hello","pandas","False",10]

import pandas as pd
x = pd.Series(a)
print(x)

0        ak
1         5
2        kr
3       5.3
4         9
5      True
6     hello
7    pandas
8     False
9        10
dtype: object

In [3]:
# Q3
# create and print the dataframe of given data
import pandas as pd

data = {'Name': ['Alice','Bob','Claire'],

        'Age': [25, 30, 27],

        'Gender': ['Female','Male','Femaler']}

df = pd.DataFrame(data)

print(df.loc[0])

Name       Alice
Age           25
Gender    Female
Name: 0, dtype: object

In [4]:
type(df)

pandas.core.frame.DataFrame

In [5]:
# Q4
# pandas data frame
'''A pandas DataFrame is a two-dimensional data structure that can be thought of as a spreadsheet. 
   It can also be thought of as a collection of two or more series with common indices. 
'''
# difference between data-frame and series
'''Series can only contain single list with index,
   whereas dataframe can be made of more than one series or we can say that a dataframe is a collection of series 
   that can be used to analyse the data
'''
# examples of series
import pandas
fruits = pandas.Series(["apples", "oranges", "bananas"], index=['a', 'b', 'c'])
print("Fruit series:")
print(fruits)

Fruit series:
a     apples
b    oranges
c    bananas
dtype: object

In [6]:
# example of dataframe
import pandas as pd
fruits_jack = ["apples", "oranges", "bananas"]
fruits_john = ["guavas", "kiwis", "strawberries"]
index = ["a", "b", "c"]
all_fruits = {"Jack's": fruits_jack, "John's": fruits_john}
new_fruits = pd.DataFrame(all_fruits, index = index)
print("Dataframe with given indices:\n", new_fruits, "\n")

Dataframe with given indices:
     Jack's        John's
a   apples        guavas
b  oranges         kiwis
c  bananas  strawberries

In [7]:
# Q5
# common functions you can use to manipulate data
'''1.data.loc()
   2.read()
   3.column
   4.head
   5.tail
   6.dtypes
   '''
#example
new_fruits.head(2)

    Jack's  John's
a   apples  guavas
b  oranges   kiwis

In [8]:
# Q6
'''the dataframe is mutable and provides great flexibility to work with.
   '''
'''Series  and plane is size immutable. '''

'Series  and plane is size immutable. '

In [9]:
# Q7
# dataframe with multiplseries
import pandas as pd

courses = pd.Series(["Spark","PySpark","Hadoop"])
fees = pd.Series([22000,25000,23000])
discount  = pd.Series([1000,2300,1000])

course_details={"course": courses, "fee": fees, "discount": discount}

df=pd.DataFrame(course_details)
print(df)

    course    fee  discount
0    Spark  22000      1000
1  PySpark  25000      2300
2   Hadoop  23000      1000

In [ ]:
'''explaination :
    1. create three series [cours,fee, and discount].
    2. join all details in course_details
    3. then use dataframe on course_details and store in df
    4. then print(df)'''